* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 100px;
}
#swiper {
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background-color: #3e88f1;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .bigpic {
  position: absolute;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .blackbg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: black;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .bigsan {
  position: absolute;
  width: 3.2rem;
  height: 1.60rem;
  top: 20%;
  left: 15%;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .smallsan {
  position: absolute;
  width: 3rem;
  height: 1.49rem;
  top: 18%;
  left: 17%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .ge {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 1.5rem;
  height: 1rem;
  color: #19c2b4;
  font-size: 0.35rem;
  font-weight: bold;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .muchsmall {
  position: absolute;
  top: 63%;
  left: 42%;
  width: 0.63rem;
  height: 0.26rem;
  opacity: 1;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(1) .firstbg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #f66;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .leftbig {
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .leftsmall {
  position: absolute;
  width: 2.75rem;
  height: 1.38rem;
  left: 5%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .msg {
  position: absolute;
  font-size: 0.20rem;
  color: #2a2a2a;
  left: 22%;
  top: 2%;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .msg span {
  font-size: 0.30rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .line {
  position: absolute;
  left: 23%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .linetwo {
  position: absolute;
  top: 32%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .linethree {
  position: absolute;
  top: 52%;
  left: -19%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .person {
  position: absolute;
  left: 51%;
  top: 32%;
  width: 1.22rem;
  height: 1.22rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .dian {
  position: absolute;
  top: 49%;
  left: 32%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .message {
  position: absolute;
  font-size: 0.2rem;
  color: #fff;
  line-height: 0.38rem;
  left: 40%;
  top: 57%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(2) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #00f;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .leftbig {
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .leftsmall {
  position: absolute;
  width: 2.75rem;
  height: 1.38rem;
  left: 5%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .msg {
  position: absolute;
  font-size: 0.20rem;
  color: #2a2a2a;
  left: 22%;
  top: 2%;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .msg span {
  font-size: 0.30rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .line {
  position: absolute;
  left: 23%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .kuang {
  position: absolute;
  top: 24%;
  left: 45%;
  width: 1.5rem;
  height: 1.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .kuanga {
  position: absolute;
  top: 35%;
  left: 26%;
  width: 1.5rem;
  height: 1.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .kuangb {
  position: absolute;
  top: 35%;
  left: 64%;
  width: 1.5rem;
  height: 1.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .kuangc {
  position: absolute;
  top: 46%;
  left: 45%;
  width: 1.5rem;
  height: 1.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .skilla {
  font-size: 0.32rem;
  position: absolute;
  top: 31%;
  left: 58%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .skillb {
  font-size: 0.32rem;
  position: absolute;
  top: 42%;
  left: 38%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .skillc {
  font-size: 0.32rem;
  position: absolute;
  top: 42%;
  left: 72%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .skilld {
  font-size: 0.32rem;
  position: absolute;
  top: 53%;
  left: 56%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .zhi {
  position: absolute;
  width: 2.3rem;
  height: 0.5rem;
  top: 68%;
  left: 6%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .zj {
  position: absolute;
  top: 69%;
  left: 16%;
  font-weight: bold;
  font-size: 0.32rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .jia {
  position: absolute;
  width: 2rem;
  height: 0.6rem;
  left: 8%;
  top: 77%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .jib {
  position: absolute;
  width: 2rem;
  height: 0.6rem;
  left: 8%;
  top: 88%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .jic {
  position: absolute;
  width: 2rem;
  height: 0.6rem;
  left: 54%;
  top: 77%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .jid {
  position: absolute;
  width: 2rem;
  height: 0.6rem;
  left: 54%;
  top: 88%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .shea {
  font-size: 0.32rem;
  position: absolute;
  top: 78%;
  left: 16%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .sheb {
  font-size: 0.32rem;
  position: absolute;
  top: 78%;
  left: 59%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .shed {
  font-size: 0.32rem;
  position: absolute;
  top: 90%;
  left: 62%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(3) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: #302e5c;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .leftbig {
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .leftsmall {
  position: absolute;
  width: 2.75rem;
  height: 1.38rem;
  left: 5%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .msg {
  position: absolute;
  font-size: 0.20rem;
  color: #2a2a2a;
  left: 22%;
  top: 2%;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .msg span {
  font-size: 0.30rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .line {
  position: absolute;
  left: 23%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .lie {
  position: absolute;
  left: 25%;
  top: 40%;
  width: 0.03rem;
  height: 4rem;
  background-color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .mucha {
  position: absolute;
  width: 0.70rem;
  height: 0.30rem;
  left: 17.6%;
  top: 46%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .muchb {
  position: absolute;
  width: 0.70rem;
  height: 0.30rem;
  left: 17.6%;
  top: 57%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .muchc {
  position: absolute;
  width: 0.70rem;
  height: 0.30rem;
  left: 17.6%;
  top: 68%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .muchd {
  position: absolute;
  width: 0.70rem;
  height: 0.30rem;
  left: 17.6%;
  top: 79%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .worka {
  color: #fff;
  font-size: 0.23rem;
  position: absolute;
  left: 3%;
  top: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .workb {
  color: #fff;
  font-size: 0.23rem;
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  left: 33%;
  top: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .workc {
  color: #fff;
  font-size: 0.23rem;
  position: absolute;
  left: 3%;
  top: 67%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .workd {
  color: #fff;
  font-size: 0.23rem;
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  left: 33%;
  top: 68%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(4) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) {
  background-color: #afc427;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .leftbig {
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .leftsmall {
  position: absolute;
  width: 2.75rem;
  height: 1.38rem;
  left: 5%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .msg {
  position: absolute;
  font-size: 0.20rem;
  color: #2a2a2a;
  left: 22%;
  top: 2%;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .msg span {
  font-size: 0.30rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .caseone {
  position: absolute;
  font-size: 0.3rem;
  color: #fff;
  top: 22%;
  left: 2%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .sk {
  position: absolute;
  width: 4rem;
  height: 2rem;
  left: 5%;
  top: 28%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .casetwo {
  position: absolute;
  font-size: 0.3rem;
  color: #fff;
  top: 60%;
  left: 2%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .siku {
  position: absolute;
  width: 4rem;
  height: 2rem;
  left: 5%;
  top: 68%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(5) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) {
  background-color: #afc427;
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .leftbig {
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  opacity: 0.5;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .leftsmall {
  position: absolute;
  width: 2.75rem;
  height: 1.38rem;
  left: 5%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .msg {
  position: absolute;
  font-size: 0.20rem;
  color: #2a2a2a;
  left: 22%;
  top: 2%;
  text-align: center;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .msg span {
  font-size: 0.30rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .line {
  position: absolute;
  left: 23%;
  width: 2.4rem;
  height: 2.5rem;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .add {
  position: absolute;
  font-size: 0.25rem;
  left: 22%;
  top: 30%;
  line-height: 0.50rem;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .me {
  position: absolute;
  font-size: 0.25rem;
  left: 22%;
  top: 60%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .sao {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  left: 26%;
  top: 67%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(6) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(7) {
  width: 100%;
  height: 100%;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(7) .twobg {
  width: 100%;
  height: 100%;
  position: relative;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(7) .twobg .firstimg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(7) .twobg .bye {
  position: absolute;
  font-size: 0.6rem;
  left: 20%;
  top: 40%;
  color: #fff;
}
#swiper .swiper-wrapper .swiper-slide:nth-child(7) .twobg .arrowUp {
  position: absolute;
  bottom: 0.1rem;
  width: 0.38rem;
  left: 45%;
}
/*# sourceMappingURL=demo.css.map */
